.containers{
   /* margin:0 auto; */
   width:100%;
   margin-left: 6rem;
  
   /* text-align:center; */

}

form{
   border: 1px solid rgb(180, 180, 180);
   border-radius: 5px;
   width: 25%;
   padding: 1rem;
}

input{
   width: 18rem;
   
}

.big-container{
   margin-left: 5rem;
   margin-right:5rem;
}

/* .containers form{
   margin: 0 auto;
} */

label{
   text-align:left;
   font-weight:500;
   margin-bottom: .35rem;
}

.img{
   width:30%;
   position:absolute;
   top: 12rem;
   right: 14rem;
}

.result{
   position:absolute;
   top: 34rem;
   left: 44.9rem;
   text-align:center;
}

.btn{
   background:green;
   color: white;
   width:7rem
}